.profile-page {
  display: flex;
  flex-direction: column;
  position: relative;
}
.profile-pic {
  height: 100px;
}
.pic-card {
  position: relative;
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100px;
  width: 100px;
  padding: 15px;
  margin: 15px;
  /* border: solid 1px black; */
  border-radius: 3px;
  box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.267);
}
.profile-card {
  margin: 20px;
  background: rgba(255, 255, 255, 0.404);
  border: solid 1px rgba(169, 169, 169, 0.459);
  position: relative;
  border-radius: 3px;
}
.profile-interests {
  margin: 15px;
  text-align: left;
}
.edit-profile {
  position: absolute;
  top: 5px;
  right: 5px;
  border: solid 1px black;
  background-color: rgba(155, 1, 1, 0.801);
  border-radius: 3px;
}
.edit-profile:hover {
  background-color: rgb(184, 48, 48);
  box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.514);
}
.pic-username {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.603);
  color: white;
  padding: 3px;;
}
.profile-review-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3px;
}
.profile-review-text {
  margin: 18px 50px 18px 7px;
  height: max-content;
  width: 100%;
  text-align: left;
  padding: 3px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.26);
  white-space: pre;
}
.profile-review-poster {
  height: 100px;
  margin: 2px;
  margin-left: 10px;
  width: auto;
  /* border: solid 1px black; */
  /* border-radius: 5px; */
  overflow: hidden;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.377);
}
.login-message {
  color: white;
  margin-top: 25px;
  font-size: 25px;
}
.review-count {
  text-align: left;
  font-weight: bold;
  margin-top: 15px;
}
