.review-poster {
  width: 300px;
  height: auto;
  margin-top: 25px;
}
.review-input {
  margin: 15px 0 5px 0;
  width: 300px;
  height: 150px;
  overflow: scroll;
}
.review-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.review-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.329);
  border-radius: 5px;
  margin: 20px auto;
  width: 90vw;
}
.star-rating {
  margin-top: 15px;
}