.popular-poster {
  width: 300px;
  height: auto;
}
.popular-card {
  border: solid 1px black;
}
.card-box {
  display: flex;
  width: 302px;
  overflow: scroll;
  margin: 0 auto;
}
.home-box {
  margin-top: 25px;
}
.follow-review-poster {
  position: absolute;
  right: 0;
  height: 100px;
}
.follow-card-text {
  margin-right: 80px;
  height: 73px;
  overflow: hidden;
  text-align: left;
}