.avatar {
  margin: 50px auto;
  height: 200px;
  width: auto;
}
.interests {
  margin: 0 25px;
  text-align: left;
}
.username-bar {
  margin: 5px 0 25px 0;
}
.interests-bar {
  margin: 5px 0 25px 0;
}
.editprof-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}