nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  border: solid 1px black;
  position: fixed;
  z-index: 99;
  background: linear-gradient(to bottom right, rgba(155, 1, 1, 0.89), rgba(80, 0, 0, 0.849)); 
}
.nav-links {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  position: fixed;
  width: 100px;
  /* padding: 5px 0; */
  top: -250px;
  z-index: 90;
  background: linear-gradient(to bottom right, rgba(133, 19, 26));
}
.nav-buttons {
  padding: 5px 0;
  border: solid 1px black;
}
.nav-buttons a {
  display: block;
  text-decoration: none;
  color: black;
  font-weight: bolder;
}
.nav-buttons:hover {
  background: rgba(255, 255, 255, 0.329);
  /* background-color: rgba(155, 1, 1, 0.541); */
}
.burger-btn {
  margin-left: 20px;
}
.slide {
  animation: slide 1s ease-in forwards;
}

@keyframes slide {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(300px);
  }
}