nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  /* border-bottom: solid 2.345px rgba(0, 0, 0, 0.372); */
  box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 99;
  /* background: linear-gradient(to bottom right, rgba(155, 1, 1), rgba(80, 0, 0));  */
  background: rgba(155, 1, 1); 
}
.nav-links {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  position: fixed;
  width: 100px;
  /* padding: 5px 0; */
  top: -64px;
  z-index: 90;
  background: rgba(155, 1, 1);
  border-radius: 2px;
}
.nav-buttons {
  padding: 5px 0;
  border-top: solid 1px black;
}
.nav-buttons a {
  display: block;
  text-decoration: none;
  color: white;
  font-weight: bolder;
}
.nav-buttons:hover {
  background: rgb(184, 48, 48);
  /* background-color: rgba(155, 1, 1, 0.541); */
}
.burger-btn {
  margin-left: 20px;
}
.slide {
  animation: slide .4s ease-in forwards;
}

@keyframes slide {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(104%);
  }
}
.slide-back {
  animation: back .4s ease-in forwards;
}

@keyframes back {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}


@media(min-width: 900px) {
  .burger-btn {
    display: none;
  }
  nav {
    justify-content: flex-end;
  }
  .nav-links {
    flex-direction: row;
    /* justify-content: space-between; */
    position: fixed;
    width: 35vw;
    /* margin-left: 20px; */
    /* padding: 5px 0; */
    top: 0px;
    z-index: 99;
    background: rgba(155, 1, 1);
    border-radius: 2px;
  }
  .nav-buttons {
    border: none;
    line-height: 50px;
    width: 100%;
    padding: 0;
    /* padding: 0 3vw; */
  }
  .nav-buttons:hover {
    background: rgb(184, 48, 48);
    /* background-color: rgba(155, 1, 1, 0.541); */
  }
}