nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100vw;
  border: solid 1px black;
  position: fixed;
  z-index: 99;
  background: linear-gradient(to bottom right, rgb(155, 1, 1), rgb(80, 0, 0));
}
.nav-links {
  display: flex;
  margin-left: 20px;
}
.nav-buttons {
  margin-right: 15px;
}
.nav-buttons a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}