.results-box {
  width: 250px;
  height: 200px;
  overflow: scroll;
  margin: 0 auto;
  border: solid 1px gray;
  position: absolute;
  top: 49px;
  right: 0;
  background: rgba(104, 1, 1, 0.904);
}
.search-results {
  margin-top: 10px;
  font-weight: bold;
}
.results-box a {
  color: black;
  /* text-decoration: none; */
}
.search-input {
  width: 100px;
}
.search-bar {
  margin-right: 20px;
}