.movie-card {
  background: rgba(255, 255, 255, 0.329);
  border-radius: 5px;
  margin: 25px auto;
  padding-top: 20px;
  padding-bottom: 5px;
  width: 90vw;
}
.selected-poster {
  width: 300px;
  height: auto;
}
.selected-title {
  margin: 5px;
}
.selected-summary {
  margin: 15px 25px;
  text-align: left;
}
.movie-reviews-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3px;
}
.movie-reviews {
  border: solid 1px rgba(169, 169, 169, 0.459);
  height: max-content;
  width: 100vw;
  margin-top: 3px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* overflow: hidden; */
  font-size: .9em;
  position: relative;
  background: rgba(255, 255, 255, 0.329);
}
.user-tag {
  /* position: absolute;
  top: 5px;
  left: 5px; */
  margin: 5px;
  width: 50px;
}
.user-review-pic {
  height: 50px;
  width: 50px;
  overflow: hidden;
  border-radius: 50%;
  border: solid 1px black;
}
.user-tag p {
  font-size: .8em;
  border-radius: 5px;
  font-weight: bolder;
  /* background: rgba(255, 255, 255, 0.322);
  padding: 3px; */
}
.review-stars {
  width: max-content;
  position: absolute;
  top: 0px;
  right: 5px;
}
.review-card-text {
  margin: 18px 40px 18px 10px;
  height: max-content;
  width: 100%;
  text-align: left;
  padding: 3px;
  /* border: solid 1px black; */
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.26);
}
.review-buttons {
  position: absolute;
  bottom: 2px;
  right: 2px;
  display: flex;
  flex-direction: column;
  width: 25px;
}
.rv-btn {
  height: 25px;
  border: solid 1px black;
  background-color: rgba(155, 1, 1, 0.541);
  border-radius: 5px;
  font-weight: bolder;
}
.rv-btn:hover {
  background-color: rgba(155, 1, 1, 0.747);
}