.following-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.follow-set {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.follow-total {
  background: rgba(255, 255, 255, 0.329);
  font-weight: bold;
  border-radius: 3px;
  padding: 5px;
  margin-top: 20px;
  width: 40%;
}
.follow-list {
  width: 300px;
  margin-top: 3px;
}
.following-card {
  background: rgba(255, 255, 255, 0.329);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3px;
  font-weight: bold;
}
.following-avatar {
  height: 50px;
  width: 50px;
  margin: 3px;
  overflow: hidden;
  border-radius: 50%;
  /* border: solid 1px black; */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.507);
}
.following-count {
  margin-right: 10px;
}
.link-wrap a {
  text-decoration: none;
  color: black;
}
.search-user-bar {
  margin-top: 20px;
}
.user-results-box {
  width: 300px;
  margin-top: 3px;
}
.user-results-card {
  background: rgba(255, 255, 255, 0.329);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3px;
  font-weight: bold;
}

@media(min-width: 700px) {
  .follow-frame {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    max-width: 1000px;
  }
}