body {
  text-align: center;
  background: linear-gradient(to bottom right, rgb(180, 180, 180), rgb(102, 102, 102));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.routes {
  padding-top: 50px;
}